

.random-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* border: 1px solid red;  */
}

.random-header {
    background-color: #D9D9D9;
    display: flex;
    height: 4.8rem;
    align-items: center;
    justify-content: center;
}

/* .random-header h1 {
    font-size: 1.25rem;
    font-weight: 600;
} */

.random-main {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.random-message {
    padding: 12px;
    max-width: 80%;
}

.user-random-message { 
    align-self: flex-end;
    border-top-left-radius: 0;
    background-color: #D9D9D9;
    
}

.workshop-random-message {
    background-color: #3D3D3D;
    color: white;
    border-top-right-radius: 0;
    align-self: flex-start;
}

.random-footer {
    display: flex;
    width: 100%;
    height: 5.5rem;
    padding: 19px;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin-bottom: 1rem;
    color: black;
}

.random-input-container {
    display: flex;
    align-items: center;
    width: 90%;
    height: 50%;
    padding: 0;
    position: absolute;
    background-color: #D9D9D9;
    border-radius:6px;
}

.random-input {
    flex: 1;
    background: transparent;
    color: black;
    width: 90%;
    border: none;
    position: absolute;
    left: 0;
    background-color: #D9D9D9;
    
}

.random-input::placeholder {
    color: #8C8C8C;
    left: 0.8rem;
    position: absolute;
    border: none;

}

.random-send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    position: absolute;
    right: 0.7rem;
}
.random-send-button img{
    object-fit: contain;
    height: 1.4rem;
    background-color: #D9D9D9;
}
.random-send-button{
    border: none; 
    outline: none; 
}
.random-input {
    outline: none; 
  }
  
  .random-input:focus {
    border: none; 
    outline: none; 
  }
  
  .back-button-chat{    
    height: 4.8rem;
    left: -2.3rem;
    /* border: 1px solid rgb(0, 17, 255); */
    display: flex;
    position: absolute;
}
.back-button-chat i{
    /* border: 1px solid red; */
    color: white;
    font-size: 1.8rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    margin-left: 2.4rem;
    margin-top: 1.5rem;
    font-weight:100;
  }
  .back-button-chat img{
    object-fit: contain;
    height: 4.7rem;
    /* border: 1px solid red; */

  }
.random-header-chat {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */

  }
.random-header-chat img{
    object-fit: contain;
    height: 2.3rem;
}
.random-header-chat h4{
    margin-left: 0.34rem;
}

/*prueba*/
.random-main{
    scrollbar-width: none;
    gap: 3rem;
}
.random-message{
        max-width: 600px;
        height: 3rem;
        position: relative; 
}
.workshop-random-message::before {
        content:'';
        position: absolute;
        top: 44px;
        width: 20px;
        height: 20px;
        clip-path: polygon(0 0, 100% 0, 0 100%);
        background-color: #3D3D3D;
        left: 0;
        border-radius: 5px;

    }
    /* Permitir que el texto se ajuste en varias líneas */
    .user-random-message,
.workshop-random-message{
    width: 230px;
    border-radius: 2px;
}
    .user-random-message::before {
        content: '';
        
        position: absolute;
        top: 44px; /* Mantén la misma posición vertical */
        width: 20px;
        height: 20px;
        clip-path: polygon(100% 0, 0 0, 100% 100%); /* Cambia el clip-path para que apunte hacia la derecha */
        background-color: #D9D9D9;
        right: 0; 
        border-bottom-left-radius: 45px;
        border-bottom-right-radius: 45px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 45px;
       
    }
    