.random-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.random-header {
    background-color: #D9D9D9;
    display: flex;
    height: 4.8rem;
    align-items: center;
    justify-content: center;
}

.random-main {
    flex: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    word-wrap: break-word; 
    white-space: pre-wrap; 
    overflow-wrap: break-word; 
    height: 80vh;
    overflow-y: auto;
}

.random-message {
    padding: 12px;
    max-width: 80%;
    display: inline-block; /* Permite que el contenedor crezca */
   
}

.user-random-message { 
    align-self: flex-end;
    background-color: #D9D9D9;
}

.workshop-random-message {
    background-color: #3D3D3D;
    color: white;
}

.random-footer {
    display: flex;
    width: 100%;
    height: 5.5rem;
    padding: 19px;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin-bottom: 1rem;
    color: black;
}

.random-input-container {
    display: flex;
    align-items: center;
    width: 90%;
    height: 50%;
    padding: 0;
    position: absolute;
    background-color: #D9D9D9;
    border-radius: 6px;
}

.random-input {
    flex: 1;
    background: transparent;
    color: black;
    border: none;
}

.random-input::placeholder {
    color: #8C8C8C;
}

.random-send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    position: absolute;
    right: 0.7rem;
}

.random-send-button img {
    object-fit: contain;
    height: 1.4rem;
}

.back-button-chat {    
    height: 4.8rem;
    left: -2.3rem;
    display: flex;
    position: absolute;
}

.back-button-chat i {
    color: white;
    font-size: 1.8rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    margin-left: 2.4rem;
    margin-top: 1.5rem;
    font-weight: 100;
}

.random-header-chat {
    display: flex;
    align-items: center;
}

.random-header-chat img {
    object-fit: contain;
    height: 2.3rem;
}

.random-header-chat h4 {
    margin-left: 0.34rem;
}

.random-main {
    scrollbar-width: none; /* Ocultar scrollbar en Firefox */
}

.user-random-message {
    
    width: auto; /* Permitir que el ancho se ajuste automáticamente */
    display: inline-block; /* Permitir que el contenedor crezca */
    border-radius: 5px 5px 0 5px;
}


.workshop-random-message {
    border-radius: 5px 5px 5px 0;
 
    width: auto; /* Permitir que el ancho se ajuste automáticamente */
    display: inline-block; /* Permitir que el contenedor crezca */
}
/* Opcional: Estilos para las flechas de los mensajes */
.workshop-random-message::before,
.user-random-message::before {
    content: '';
    position: absolute;
    top: 44px; /* Ajusta según el diseño */
    width: 20px;
    height: 20px;
}

.workshop-random-message::before {
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background-color: #3D3D3D;
    left: 0;
}

.user-random-message::before {
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    background-color: #D9D9D9;
    right: 0; 
}

/*triangulos*/
.random-message {
    padding: 12px;
    max-width: 80%;
    display: inline-block; /* Permite que el contenedor crezca */
   
    position: relative; /* Necesario para posicionar el triángulo */
}

.user-random-message {
    align-self: flex-end;
    background-color: #D9D9D9;
    border: 1px solid red;
    position: relative;
}

.workshop-random-message {
    background-color: #3D3D3D;
    color: white;
    position: relative;
}

/* .user-random-message::before {
    content: '';
    position: absolute;
    right: 0px; 
    width: 0;
    height: 0;
    border-left: 10px solid #D9D9D9;
    border-right: 15px solid #D9D9D9;
    border-bottom: 20px solid #D9D9D9;
    bottom: 0;
}

.workshop-random-message::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 0;
    height: 0;
    border-left: 10px solid #3D3D3D;
    border-right: 15px solid #3D3D3D;
    border-bottom: 20px solid #3D3D3D; 
} */


.triangle-user {
    right: 0; /* Ajusta según el diseño */
    border-left: 10px solid #D9D9D9; 
    border-right: 15px solid #D9D9D9; 
    border-bottom: 20px solid #D9D9D9; /* Color del triángulo del usuario */
    bottom: 0;
    border: 1px solid red;
    position: absolute;

}

.triangle-workshop {
    left: 0; /* Ajusta según el diseño */
    border-left: 10px solid #3D3D3D;
    border: 1px solid red;
    border-right: 15px solid #3D3D3D;
    border-bottom: 20px solid #3D3D3D; /* Color del triángulo del taller */
    bottom: 0;
    position: absolute;

}
