.random-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.random-header {
    background-color: #D9D9D9;
    display: flex;
    height: 4.8rem;
    align-items: center;
    justify-content: center;
}

.random-main {
    flex: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    word-wrap: break-word; 
    white-space: pre-wrap; 
    overflow-wrap: break-word; 
    height: 80vh;
    overflow-y: auto;
    scrollbar-width: none;
    padding-bottom: 20px;
}

.random-message {
    padding: 12px;
    max-width: 80%;
    position: relative;
    width: auto;
    display: inline-block;
    margin-bottom: -20px;
}

.user-random-message { 
    align-self: flex-end;
    background-color: #D9D9D9;
    color: white;
    border-radius: 5px 5px 0 5px;
}

.workshop-random-message {
    background-color: #3D3D3D;
    color: white;
    border-radius: 5px 5px 5px 0;
}

.random-message-content {
    position: relative;
    z-index: 1;
}

.user-random-message::after,
.workshop-random-message::after {
    content: '';
    position: absolute;
    bottom: -15px; 
    width: 30px; 
    height: 30px; 
    background-color: inherit;
    z-index: 0;
}

.user-random-message::after {
    right: 0;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.workshop-random-message::after {
    left: 0;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.random-footer {
    display: flex;
    width: 100%;
    height: 5.5rem;
    padding: 19px;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin-bottom: 1rem;
    color: black;
}

.random-input-container {
    display: flex;
    align-items: center;
    width: 90%;
    height: 50%;
    padding: 0;
    position: absolute;
    background-color: #D9D9D9;
    border-radius: 6px;
}

.random-input {
    width: 90%;
    flex: 1;
    background: transparent;
    color: black;

    border: none;
}

.random-input:focus{
    outline: none;
}

.random-input::placeholder {
    color: #8C8C8C;
}

.random-send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    position: absolute;
    right: 0.7rem;
}

.random-send-button img {
    object-fit: contain;
    height: 1.4rem;
}

.back-button-chat {    
    height: 4.8rem;
    left: -2.3rem;
    display: flex;
    position: absolute;
}

.back-button-chat i {
    color: white;
    font-size: 1.8rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    margin-left: 2.4rem;
    margin-top: 1.5rem;
    font-weight: 100;
}

.random-header-chat {
    display: flex;
    align-items: center;
}

.random-header-chat img {
    object-fit: contain;
    height: 2.3rem;
}

.random-header-chat h4 {
    margin-left: 0.34rem;
}

.workshop-random-message .random-message-content{
    color: white;
}