body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.background {
    position: relative;
    height: 100vh;
    background-image: url('../../public/img/fondo.svg');
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated-text {
    max-width: 80%;
    max-height: 80%;
    opacity: 0;
    animation: fadeInOut 4s ease-in-out 1;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.register-form-container {
    position: absolute;
    top: 45%;
    left: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: left 1.5s ease, opacity 1.5s ease;
    text-align: center;
    display: flex;
    color: white;
    padding: 50px;
    border-radius: 10px;
    width: 100%;
}

.register-form-container h2 {
    font-size: 1.5em;
}

.register-form-container span {
    color: #000000;
}

.container-top{
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    
}
.container-top h2{
    /* border: 1px solid red; */
    width: 90%;
    inset: 0;
    margin: auto;
    margin-bottom: 10px;
}

.container-top button{
    margin-top: 20px;
    font-size: 1.1em;
}

.container-bottom{
    /* border: 1px solid red; */
    padding-left: 20px;
    /* padding-top: 150px; */
    font-size: 1.5em;;
}

.container-bottom a{
    color: rgb(0, 0, 0);
}

.social-btn {
    display: block;
    width: 90%;
    /* padding: 10px; */
    margin: 0;
    /* color: white; */
    /* padding: 0; */
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    inset: 0;
    margin: auto;
    
}


.social-btn img{
    margin-left: 10px;
    margin-right: 15px;
    width: 25px;
}

.social-btn:hover {
    background-color: #3b2b20;
}

.fb-btn, .insta-btn, .gmail-btn, .mail-btn, .phone-btn {
    display: flex;
    align-items: center; 
    background-color: #ffffff;
}
.fb-btn i, .insta-btn i, .gmail-btn i, .mail-btn i, .phone-btn i{
    font-size: 1.5rem;
    margin-right: 20px;
}
.mail-btn a, .phone-btn a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.slide-in {
    left: 50%;
    opacity: 1;
}

@media (max-width: 600px) {
    .animated-text {
        max-width: 70%;
        max-height: 70%;
    }
    .register-form-container {
        max-width: 90%;
    }
}
