
.taller-info p, .taller-info h3{
  color: white !important;
}

.store-container {
  width: 100%;
  min-height: 95vh; 
  background-image: url('../../public/img/fondo-store.svg');
  background-size: 150%; /* Aumenta el tamaño de la imagen al 150% */
  background-repeat: no-repeat;
  background-position: center; /* Centra la imagen */
}


.imagen-triangulo-store{
  width: 20px;
  margin-top: 10px;
}

/*talleres*/
/* Sección de talleres */
.talleres-section h2 {
  font-size: 18px;
  margin-bottom: 4px;
}

.talleres-section p {
  color: #666;
  font-size: 13px;

}

.talleres-grid {
  margin-left: 20px;  
  margin-right: 20px;  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-bottom: 80px;
  margin-top: 0.8rem;
}

.taller-card {
  display: flex;
  flex-direction: column;
  background-color: #000;
  border-radius: 7px;
  /* overflow: hidden; */
  color: white;
  line-height: 1.3;

}

.taller-card img {
  border-radius: 0 0 7px 7px;
  width: 100%;
  height: 90px;
  object-fit: cover;
}


.taller-info h3 {
  font-size: 11px;
  margin-top: 10px;
  margin-left: 10px;
  color: #ccc;

}

.taller-info p {
  margin-left: 10px;
margin-bottom: 10px;
  font-size: 11px;
  color: #ccc;
}


.header-talleres{
  display: flex;
  flex-direction: row;
}



.img-ajustes img{
  width: 27px;
  margin-top: 24px;
  margin-left: 30px;
}

.texto-encabezado{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 4rem;
  position: relative;
  /* border: 1px solid red; */
}
 .texto-encabezado h2{
  position: absolute;
  left: 1.6rem;
  bottom: 1rem;
 }
 .texto-encabezado p{
  position: absolute;
  left: 1.6rem;
  bottom: 0;
 }